/* app css stylesheet */


body {
    margin: 10px;
}

#content{
    width: 50%;
    margin: 0 auto; 
}

.removeBtn {
  color: red;
}

.glyphicon-remove {
  font-size: 150%;
}

.glyphicon-plus {
  font-size: 200%;
  color: green;
}

.clochetteForm {
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(175, 175, 175, 0.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
   }

.nav-tabs > li > a {
  color: white;
}

#clochetteContent {
  margin: 0 auto;
  margin-top: 10px;
  width: 75%;
}

.choiceFormGroup {
  width:100%;
}

#choiceInput {
  width:95%;
}

.removeChoiceBtn {
  width:5%;
  float: right;
}

.nav, .pagination, .panel-title a, i { cursor: pointer; }

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.clochetteImg {
  width:50%;
  height:50%;
}

.clochetteResult {
  text-align: center;
}

.pickBtn {
  display: block;
    margin-left: auto;
    margin-right: auto 
}