<!DOCTYPE html>
<html lang="en" ng-app="utilsApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Utils App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body spellcheck=false>

    <div class="container">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                    <a class="navbar-brand" href="#">Utils App</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li id="todoNavBarLi" class="active"><a href="index.html" class="toggleTodo">To do</a></li>
                        <li id="clochetteNavBarLi"><a href="index.html" class="toggleClochette">Clochette</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="content">
            <div id="todoContent" ng-controller="PostItCtrl">
                <a class="btn btn-lg" ng-click="addPostIt()"><i class="glyphicon glyphicon-plus"></i></a>
                <div ng-repeat="postit in postits | orderBy:'-'">
                    <div class="quote-container">
                        <i class="pin"></i>
                        <blockquote class="note yellow">
                            <div class="rmvCiteDiv">
                                <cite ng-model="postit" id="titleedit" contenteditable></cite>
                                <a class="btn removePostItBtn" ng-click="removePostIt(postit.id)"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                            <div ng-model="postit" id="contentedit" contenteditable></div>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div id="clochetteContent" class="hidden">
                <h2>Clochette</h2>
            </div>

        </div>
    </div>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="components/scripts/services/postItServices.js"></script>
    <script src="components/scripts/directives/postItDirectives.js"></script>
    <script src="components/scripts/controllers/postItCtrl.js"></script>
    <script src="components/scripts/js/navbarItemsToggle.js"></script>
</body>

</html>