</br>

<div ng-repeat="item in clothes | orderBy:'-'">
    <div class="thumbnail col-sm-4">
        <img class="clothesImg" src="img/clothes/{{ item.path }}" ng-click="clickClothesImg(item)"></img>
        <div class="row">
            <div class="col-md-1 col-md-push-10">
                <i class="btn btn-xs removeBtn glyphicon glyphicon-remove" ng-click="removeClothes(item.id, item.path)" tooltip-placement="right"
                    uib-tooltip="Supprimer ce vêtement"></i>
            </div>
            <div class="col-md-10 col-md-pull-0">
                <button class ="btn" ng-click="createTag()">Créer un tag</button>
                <div isteven-multi-select input-model="tags" output-model="outputDropdown" button-label="id name" item-label="name">
                </div>
            </div>
        </div>
    </div>
    </ul>