</br>

<div ng-repeat="item in clothes | orderBy:'-'">
    <div class="thumbnail col-sm-4">
        <img class="clothesImg" src="img/clothes/{{ item.path }}" ng-click="clickClothesImg(item)"></img>
        <div class="col-sm-12">
            <i class="btn btn-xs removeBtn glyphicon glyphicon-remove" ng-click="removeClothes(item.id, item.path)" tooltip-placement="right"
                uib-tooltip="Supprimer ce vêtement"></i>
            <div ng-include="'views/detailsClothes.html'"></div>
        </div>
    </div>
</div>
</ul>