<div class="form-wrapper loginForm">
    <label>Entrez vos identifiants :</label>
    <form ng-submit="submit()" name="form">
        <input id="username" type="text" class="form-control" name="username" ng-model="user.username" placeholder="Nom d'utilisateur ..."
            required />
        <div ng-show="form.$submitted || form.username.$touched">
            <div ng-show="form.username.$error.required">Nom d'utilisateur obligatoire.</div>
        </div>
        <input id="password" type="password" class="form-control" name="password" ng-model="user.password" placeholder="Mot de passe ..."
            required />
        <div ng-show="form.$submitted || form.password.$touched">
            <div ng-show="form.password.$error.required">Mot de passe obligatoire.</div>
        </div>
        <input type="submit" class="btn btn-primary" value="Se connecter" />
    </form>
</div>