<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-coll" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand">Utils App</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-coll">
            <ul class="nav navbar-nav">
                <li id="clochetteNavBarLi" class="active"><a href="#tabclochette" data-toggle="tab">Clochette</a></li>
                <li id="todoNavBarLi"><a href="#tabtodo" data-toggle="tab">To do</a></li>
                <li id="clothesNavBarLi"><a href="#tabclothes" data-toggle="tab">Vêtements</a></li>
                <li id="aboutNavBarLi"><a href="#tababout" data-toggle="tab">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="tab-content content">
    <div class="tab-pane active" id="tabclochette">
        <div ng-include="'views/clochetteContent.html'"></div>
    </div>
    <div class="tab-pane" id="tabtodo">
        <div ng-include="'views/todoContent.html'"></div>
    </div>
    <div class="tab-pane" id="tabclothes">
        <div ng-include="'views/clothesContent.html'"></div>
    </div>
    <div class="tab-pane" id="tababout">
        <div ng-include="'views/aboutContent.html'"></div>
    </div>
</div>