<div id="todoContent" ng-controller="PostItCtrl">
  <a class="btn btn-lg glyphicon glyphicon-plus addBtn" id="addBtnTodo" ng-click="addPostIt()" tooltip-placement="right" uib-tooltip="Ajouter un post-it"></a>
  <div ng-repeat="postit in postits | orderBy:'-'">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
             <i class="btn btn-lg removeBtn glyphicon glyphicon-remove" ng-click="removePostIt(postit.id)" tooltip-placement="top" uib-tooltip="Supprimer ce post-it"></i>
             <a data-toggle="collapse" ng-click="toggleCollapse($index)" href="#collapsePostIt_{{ $index }}" ng-model="postit" id="titleedit" contenteditable></a>
             <i class="pull-right glyphicon glyphicon-chevron-right" ng-click="toggleCollapse($index)" data-toggle="collapse" href="#collapsePostIt_{{ $index }}" id ="collapsePostItIcon_{{ $index }}"></i>
      </div>
        </div>
        <div id="collapsePostIt_{{ $index }}" class="panel-collapse collapse">
          <div ng-model="postit" id="contentedit" contenteditable></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>